# Unity キャッシュ・ビルド生成物
OnlineTest/Library/
OnlineTest/Temp/
OnlineTest/obj/
OnlineTest/Build/
OnlineTest/Logs/
OnlineTest/UserSettings/
OnlineTest/AssetBundles/
OnlineTest/EXE/

# Visual Studio 関連
OnlineTest/.vs/
OnlineTest/*.sln
OnlineTest/*.csproj
OnlineTest/*.vsconfig

# Unity Package Manager / Collaborate
OnlineTest/UnityPackageManager/
OnlineTest/*.collabignore
OnlineTest/*.unitypackage